python-dotenv
sentence-transformers
langchain-community
langchain-openai
langchain-ollama
langchain-core
langchain-pinecone
langchain
pinecone-client
pymupdf
spacy
scikit-learn
pdf2image
numpy
tiktoken
pytesseract
nltk
matplotlib
evaluate
rouge_score
